[Unit]
Description=mediocregopher's sysstats
Requires=network.target
After=network.target

[Service]
Restart=always
RestartSec=1s
User=mediocregopher
ExecStart=/bin/bash -c 'while [ 1 ]; do out=$(~/.config/awesome/bin/sysstats.sh); echo "$out" > /tmp/sysstats; sleep 1; done'

[Install]
WantedBy=multi-user.target
